:root {
  --lipstick: #d7113f;
  --faded-red: #dd4249;
  --rouge: #a81625;
  --lipstick-two: #c52738;
  --faded-red-two: #cc3443;
  --faded-red-three: #cc2f40;
  --faded-red-four: #c12d3e;
  --faded-red-five: #b42d3a;
  --red-pink: #f7386a;
  --gunmetal: #434558;
  --lipstick-three: #e22a5a;
  --watermelon: #ff3967;
  --black: #373636;
}

$navbar-light-color: white;
$navbar-light-hover-color: #d5d5d5;
$navbar-light-active-color: white;
$navbar-light-disabled-color: white;


$link-color: #DB444D !default;